.slide-component{
  background: url('/statics/images/slide-background.png') no-repeat;
  width: 100%;
  transition: 1s linear all;
  background-size: contain;
  height: 60vh;
  width: 100%;
  background-size: cover;

  &__title {
    color:$primary-blue;
    // text-align: center;
  }

  &__inner{
    margin: auto;
    padding: 30px;
    width: 70%;
    min-height: 42vh;
    background: rgba(255, 255, 255, 0.85);

    &__intro-slide {
      color: $white;
      width:44%;
      background:none;
      margin: 5%;
    }

    h4 {
      font-weight: 800;
    }

    h5 {
      font-weight: 400;
    }

    img {
      display: block;
      width: 100px;
      right: 16%;
      position: absolute;
      bottom: 8%;
    }
  }
  &__intro{
    background: url('/statics/images/intro-background.png') no-repeat;
    width: 100%;
    background-size: contain;
    height: 60vh;
    width: 100%;
    background-size: cover;
    transition: 0.5s linear all;
  }
}

.btn-intro {
    width:85%;
    font-weight: 800;
    padding: 20px 0px;
}
